* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #212121;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 90%;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    
}

.user {
    margin-top: 10px;
    border-radius: 1em;
    background-color: #2f2f2f;
    display: inline-block;
    padding: 10px 20px;
    max-width: 70%;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgb(197, 201, 205);
    margin-right: 10px;
}

.bot {
    margin-top: 10px;
    border-radius: 1em;
    background-color: #2f2f2f;
    display: flex;
    padding: 10px 20px;
    max-width: 70%;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgb(197, 201, 205);
    margin-left: 10px;
    align-self: flex-start;
    align-items: center; 
}

.bot-logo {
    height: 30px; 
    width: 30px; 
    border-radius: 50%;
    margin-right: 10px; 
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#logo_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#heading {
    color: aliceblue;
}

#prompt_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    height: 3em;
    border-radius: 1em;
    position: static;
    bottom: 2em;
    background-color: #2f2f2f;
}

#prompt {
    padding: 0.4em;
    height: 2em;
    border-radius: 1em;
    border: none;
    width: 93%;
    background-color: #2f2f2f;
    color: aliceblue;
    font-size: medium;
    margin-right: -0.5em;
}

#send_icon {
    height: 1.5em;
    width: auto;
    cursor: pointer;
    margin-right: 0.5em;
}

input:focus {
    outline: none;
}

#spinner-outer-container {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;
    width: 125px;
    height: 60px;
    margin-top: 10px;
    border-radius: 1em;
    background-color: #2f2f2f;
    align-self: flex-start;
    margin-bottom: 10px;
}

#spinner-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

#spinner {
    width: 20px;
    height: 20px;
    border: 3px solid gray;
    border-top: 3px solid aliceblue;
    border-radius: 50%;
    animation: spin 0.5s infinite linear;
    margin-left: 10px;
    margin-top: 15px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


